body {
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
}

.container {
    text-align: right;
    background-color: rgb(151, 144, 144);
    margin-top: 150px;
    margin-right: 5px;
    margin-left: 1400px;
}

.btn_Red {
    color: black;
    background-color: red;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 17px;
}

.btn_Green {
    color: black;
    background-color: green;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 17px;
}

.btn_Blue {
    color: black;
    background-color: blue;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 17px;
}

.btn_Yellow {
    color: black;
    background-color: Yellow;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 17px;
}

.btn_Black {
    color: white;
    background-color: black;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 17px;
}